{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "semi": true,
  "importOrder": ["^src/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
